<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <h3>{{subtitle}}</h3>
        <p>
            <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </p>
    </div>
</div>

<!--if statemnt in anglar-->
<h4 *ngIf="show">
    This is If block when Show is true
</h4>

<!--switch  statemnt in anglar-->
<div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'">This Red Color</h2>
    <h2 *ngSwitchCase="'green'">This is Green Color</h2>
    <h2 *ngSwitchCase="'Blue'">This is Blue Color</h2>
    <h2 *ngSwitchCase="'Yellow'">This is Yellow Color</h2>
</div>

<!--For Loop for array of number in anglar-->
<h1 *ngFor="let item of data">
    {{item}}
</h1>

<!--for loop to print Product in anglar-->
<h1 *ngFor="let prod of product">
    {{prod}}
</h1>

<!--For loop for print Employees Name-->
<h1 *ngFor="let emp of employees">
    {{emp}}
</h1>


<!--print variable -->
<h1>
    {{branch}}
</h1>

<!--switch case-->
<div [ngSwitch]="branch">
    <h2 *ngSwitchCase="'CSE'">This CSE Branch</h2>
    <h2 *ngSwitchCase="'ECE'">This ECE Branch</h2>
    <h2 *ngSwitchCase="'CIVIL'">This CIVIL branch</h2>
    <h2 *ngSwitchCase="'ME'">This ME Branch</h2>
</div>