@{
    ViewBag.Title = "Home Page";
}


 <div class="container">
     <div class="row">
         <div class="col-lg-6" style="background-color:antiquewhite; text-align:left">
             <h2>Registration Form</h2>
             <table style="width:100%;">
                 <tr>
                     <td class="auto-style1">UserName</td>
                     <td class="auto-style2">
                         <input type="text" placeholder="Enter name" />
                      </td>
                 </tr>
                 <tr>
                     <td class="auto-style1">Email Address</td>
                     <td class="auto-style2">
                         <input type="email" placeholder="Enter Email" />
                      </td>
                 </tr>
                 <tr>
                     <td class="auto-style1">Password</td>
                     <td class="auto-style2">
                         <input type="password" placeholder="Enter Password" />
                     </td>
                 </tr>
                 <tr>
                     <td class="auto-style1">Confirm Password</td>
                     <td class="auto-style2">
                         <input type="password" placeholder="Enter Password" />
                      </td>
                 </tr>
                 <tr>
                     <td class="auto-style1">Gender</td>
                     <td class="auto-style2">
                         <input type="radio" value="Male" name="gender" >Male
                         <input type="radio" value="Female" name="gender">Female
                     </td>
                 </tr>
                 <tr>
                     <td class="auto-style1">City</td>
                     <td class="auto-style2">
                        <select name="city">
                            <option value="Haryana">Haryana</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Bangular">Bangular</option>
                        </select>
                          
                 </tr>
                 <tr>
                     <td class="auto-style1">
                          <button id="Button1">Submit</button>
                         <br />
                         <br />

                     </td>

                     <td class="auto-style2">&nbsp;</td>
                 </tr>
             </table>
         </div>
         <div class="col-lg-6" style="background-color:aliceblue;text-align:right;height:255px">
             <h2>Types of Music</h2>
             <table align="right">
                 <tr>
                     <td>
                         Dance
                     </td>
                 </tr>
                 <tr>
                     <td>
                         Romantic
                     </td>
                 </tr>
                 <tr>
                     <td>
                         Classic
                     </td>
                 </tr>
                 <tr>
                     <td>
                         Rock
                     </td>
                 </tr>
                 <tr>
                     <td>
                         Retro
                     </td>
                 </tr>
             </table>
         </div>
     </div>
     <div class="row">
         <div class="col-lg-4" style="background-color:burlywood">
             <h2>Choose Subjects</h2>
             <input id="Checkbox1" type="checkbox" />Data Structure<br />
             <input id="Checkbox2" type="checkbox" />DBMS<br />
             <input id="Checkbox3" type="checkbox" />Compiler<br />
             <input id="Checkbox4" type="checkbox" />Operating System<br />
         </div>
         <div class="col-lg-4" style="background-color:coral;height:150px">
             <h2>Choose City</h2>
             <select name="city">
                 <option value="Haryana">Haryana</option>
                 <option value="Chennai">Chennai</option>
                 <option value="Bangular">Bangular</option>
                 <option value="UP">UP</option>
                 <option value="Bihar">Bihar</option>
             </select>
         </div>
         <div class="col-lg-4" style="background-color:darkgray">
             <h2>Choose Branch</h2>
             <input  type="radio" name="subject" />CSE<br />
             <input  type="radio" name="subject"/>ECE<br />
             <input   type="radio" name="subject" />IT<br />
             <input   type="radio" name="subject" />ME<br />
         </div>
     </div>
 </div>

 
 